body {
  color: white;
  background-color: black;
}
h1 {
  text-align: center;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .cities {
    width: 30%;
  }
  .active-city {
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    h3 {
      margin-top: 0;
    }
    img {
      width: 100%;
    }
    h4 {
      text-align: center;
      margin-top: 50vh;
      color: #E60F05;
    }
  }
  li:hover {
    color: #E60F05;
  }
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}
